<h1>Editing Book</h1>

<% if @book.errors.any? %>
<div class="flash_errors">
    <h2>
        <%= @book.errors.count %> error prohibited this book from being saved:
    </h2>
    <ul class="error_messages">
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>



<%= form_with model: @book do |f| %>

<div class="field">
    <div>
    Title
    </div>
<%= f.text_field :title %>
</div>

<div class="field">
    <div>
    Body
    </div>
<%= f.text_area :body %>
</div>

<div class="actions">
    <%= f.submit 'Update Book' %>
</div>

<%= link_to 'Show', book_path(@book.id) %>
|
<%= link_to 'Back', books_path %>

<% end %>